/* .attendee_name {
        background-color: grey;
      }

      div.name,
      div.title {
        color: white;
      } */

.page {
  width: 21cm;
  height: 30cm;
  /* border: 2px solid greenyellow; */
}

.container {
  margin-left: 1cm;
  margin-right: 1cm;
  margin-top: 1in;
  margin-bottom: 1in;
  overflow: hidden;
  /* border: 1px solid red; */
}

table,
td,
tr {
  border: 1px solid grey;
  border-collapse: collapse;
}

td {
  padding: 1rem;
  box-sizing: border-box;
}

td div {
  font-family: "Tahoma", sans-serif;
  letter-spacing: 0.6px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5px;
}

td div.name {
  font-size: 20px;
}

td div.title {
  font-size: 14px;
  margin-top: 2px5;
}

.detail_text {
  height: 3.32cm;
  padding: 0.5cm 0.8cm 0.5cm 0.8cm;
}

.detail_text > div {
  font-size: 17px;
}

sup {
  font-size: 10px;
}

#three,
#six {
  margin-left: -5.5px;
}
