/* .attendee_name {
        background-color: grey;
      }

      div.name,
      div.title {
        color: white;
      } */

.page {
  width: 21cm;
  height: 30cm;
}

.container {
  margin: 1in 1cm;
  overflow: hidden;
}

table,
td,
tr {
  border: 1px solid grey;
  border-collapse: collapse;
}

td {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Tahoma", sans-serif;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5px;
  width: 250px;
}

div.name {
  font-size: 20px;
  padding: 0;
  width: auto !important;
}

div.title {
  font-size: 14px;
  margin-top: 2px;
  padding: 0;
  width: auto !important;
}

/* .meeting-detail {
  padding: 1.9rem;
}

td:not(.meeting-detail) {
  padding: 1.25rem 1.8rem;
} */

.name-title-container {
  padding: 0.5rem 1 rem !important;
}
