:root {
  --greyblue: rgb(177, 198, 200);
  --skyblue: #eaf7ff;
  --lightblue: #4ec0ff;
  --font-color: #768289;
  --dark-grey: #646b6e;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Flex", sans-serif;
}

/* Component No. 1 */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #768289;
}

#meeting-detail-component {
  width: 650px;
  min-width: 500px;
  max-width: 700px;
  height: 150px;
  min-height: 100px;
  max-height: 200px;
  border-radius: 12px;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.15);
}

#meeting-detail-component > div:nth-child(1) {
  height: 30%;
  width: 100%;
  background-color: var(--greyblue);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
}

#meeting-detail-component > div:nth-child(2) {
  height: 70%;
  width: 100%;
  background-color: var(--skyblue);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bottom > div {
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.view-1 {
  width: 33%;
  justify-content: center;
}

.view-2 {
  width: 50%;
  justify-content: space-around;
}

.bottom > div > label {
  color: var(--font-color);
  margin-bottom: 3px;
  position: relative;
}

.bottom > div > input {
  width: 60%;
  height: 25px;
  outline: none;
  border: none;
  padding: 3px 5px 3px 8px;
  border-radius: 8px;
  font-family: "Roboto Flex", sans-serif;
  font-size: 14px;
  border: 1px dotted var(--font-color);
}

.bottom > div > button {
  width: 75%;
  height: 35px;
  outline: none;
  border: none;
  padding: 6px;
  border-radius: 12px;
  background-color: var(--lightblue);
  color: white;
  font-weight: 500;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}

.bottom > div > button > span {
  color: white;
  font-weight: 200;
  margin-right: 5px;
}

#container {
  height: 100vh;
  max-width: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Component No. 2 */

.icon {
  margin-right: 12px;
}

.icon-2 {
  position: absolute;
  left: -23px;
  top: -2px;
}

.label-text-1 {
  margin-bottom: 5px;
}

button {
  cursor: pointer;
  position: relative;
}

.icon-small {
  font-size: 20px;
}

.icon-3 {
  position: absolute;
  bottom: 5px;
  font-size: 25px;
  font-weight: bold;
}

button > span.text {
  font-family: "Roboto Flex", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.25px;
}

#toast-component {
  width: auto;
  max-width: inherit;
  min-width: 100px;
  height: auto;
  color: white;
  padding: 5px 5px 5px 16px;
  border-radius: 10px;
  margin: 6px 2px;
  background-color: var(--dark-grey);
  position: relative;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

#toast-text {
  font-size: 14px;
}

#toast-component > span.material-symbols-outlined {
  font-size: 17px;
  cursor: pointer;
}

#toast-component > span:nth-child(1) {
  position: absolute;
  left: 0px;
  top: 5px;
  margin-left: 10px;
}

#toast-component > span:nth-child(2) {
  margin-left: 16px;
}

#toast-component > span:nth-child(3) {
  position: absolute;
  right: 30px;
}

#toast-component > span:nth-child(4) {
  position: absolute;
  right: 10px;
}

.toast-container {
  width: 41%;
  padding: 8px;
  background-color: lightgray;
  border-radius: 12px;
}

#second-component {
  width: 650px;
  min-width: 500px;
  max-width: 750px;
  height: auto;
  background-color: var(--skyblue);
  margin-top: 16px;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container-for-toast-container {
  width: 100%;
  min-width: auto;
  max-width: auto;
  height: auto;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 16px;
}

button.back,
button.next {
  width: 150px;
  height: 35px;
  margin: 8px;
  border-radius: 4px;
  outline: none;
  border: none;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.back {
  background-color: mistyrose;
}

.next {
  background-color: var(--lightblue);
}

.next > span {
  right: 35px;
}

.back > span {
  left: 35px;
}

button {
  position: relative;
  cursor: pointer;
}

button > span.material-symbols-outlined {
  position: absolute;
  font-size: 20px;
  top: 8px;
}
